@import "./nav__list";
@import "./footer__map";
@import "./footer_contact";

.footer {
  padding: 70px 0 23px 0;
  background-color: $blackFont;
  color: $brightFont;

  @include md {
    padding: 30px 0 23px 0;
  }

  &__menu {
    padding-bottom: 50px;

    @include xxl {
      padding-bottom: 40px;
    }

    @include lg {
      padding-bottom: 30px;
    }

    @include md {
      padding: 20px;
    }

    @include sm {
      padding: 0 30px 25px;
    }
  }

  & .head {
    display: inline-block;
    margin-bottom: 35px;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__copyrights {
    padding: 15px 0;
    background-color: $brightFont;
    color: $blackFont;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
