@font-face {
  font-family: "helvetica";
  src: url(../fonts/Orbitron.ttf);
}

@font-face {
  font-family: "Orbitron";
  src: url(../fonts/Orbitron.ttf);
}
@font-face {
  font-family: "Prompt";
  src: url(../fonts/Prompt-Light.ttf);
  src: url(../fonts/Prompt-Regular.ttf);
}
