$white: #fff;
$primary: #ff6600;
$grey: #dfdfdf;
$darkFont: #707070;
$brightFont: #f6f6f6;
$blackFont: #111111;
$bannerBackground: #11111165;
$servicesBackground: #f6f7f8;
$bannerFont: #d0d3d4;
$dotsColor: #d7e1fe;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
$maxFluid: 1920px;

$primaryFf: "Prompt", arial, sans-serif;
$boldFf: "helvetica-bold", arial, sans-serif;
